<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :first_name, placeholder: "First name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :last_name, placeholder: "Last name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :email, placeholder: "Email", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :twitter, placeholder: "Social media", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.number_field :user_id, value: current_user.id, type: :hidden, id: :friend_user_id %>
  </div>

  

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
