<% if user_signed_in? %>
<br>
<div class="table-responsive">
<table class="table table-hover table-bordered table-striped">
  <thead class="bg-secondary">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Twitter</th>
  <!--<th>User id</th>-->
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    
    <% @friends.each do |friend|%>
    <tr>
      <% if current_user == friend.user %>
      <td><%= link_to( friend.first_name+" "+friend.last_name, friend) %></td>
      <td><%= friend.email %></td>
      <td><%= friend.twitter %></td>
 <!-- <td><% friend.user_id %></td>-->
      <td><%= button_to "Delete", friend, method: :delete,  class:"btn btn-danger btn-sm" %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>
<%= link_to "New friend", new_friend_path, class:"btn btn-info" %>
<%= link_to ' All Friends', friends_path, class:"btn btn-primary"%>

<% else %>

<br>
<div class="jumbotron p-10">
  <h1 class="display-4">XploreLife Friends</h1>
  <p class="lead">The world is continually getting more like a village square where family, friends and associates comes together to discuss, gist, play around and have fun</p>
  <hr class="my-4">
  <p>Stay connected with family and friends all the time</p>

  <%= link_to 'Sign In and have fun', new_user_session_path, class:"btn btn-primary btn-lg" %>
  <br><br>
  <p>New to XploreLife?</p>
  <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-success " %>
</div>

<% end %>

  